## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.0
  - 1.1
  - 1.2
  - 1.3
  - 1.4
  - 1.5
  - 1.6
jobs:
  allow_failures:
  - os: osx # running into error: "IOError: pipe_open: too many open files (EMFILE)"
  - julia: nightly
  fast_finish: true
notifications:
  email: false
codecov: true
coveralls: true
